@import "tailwindcss";

@layer base {
  :focus-visible {
    @apply shadow-lg/30;
    outline: 2px solid var(--color-sky-500);
  }

  button,
  select {
    appearance: none;
    cursor: pointer;
  }
}

.team {
  background-color: var(--team-color, var(--color-sky-100));
}

@supports (color: contrast-color(red)) {
  .picker-icon {
    color: contrast-color(var(--team-color));
  }
}

.picker-icon {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    pointer-events: none;
    width: --spacing(2);
    height: --spacing(2);
    top: calc(50% - --spacing(0.5));
    right: calc(1rem - --spacing(0.5));
    mask-image: url('data:image/svg+xml,<svg viewBox="0 0 6 4" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><polyline points="1,1 3,3 5,1"/></svg>');
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: currentColor;
  }
}

@supports selector(:open) {
  @media not (prefers-reduced-motion: reduce) {
    .picker-icon::after {
      transition: transform 0.2s ease-in-out;
    }

    .picker-icon:has(> :open)::after {
      transform: rotate(180deg);
    }
  }
}

.kind-selector {
  display: flex;
  align-items: center;
  gap: --spacing(2);
}

@media (width < 400px) {
  .kind-selector {
    flex-direction: column;
    align-items: stretch;
  }

  .kind-selector .lucide-arrow-right-left {
    rotate: 90deg;
  }
}
